*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins'sans-serif;
    box-sizing: ;
}
body{
    background: rgb(164, 200, 199);
}
.login-box{
    background: white;
    padding: 30px 120px;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px; 
}
.company-logo{
    width: 100px;
    margin-bottom: 20px;
}
.login-box h2{
    margin-bottom: 20px;
}
.login-box input{
    width: 100%;
    background: transparent;
    border: 1px solid lightgray;
    outline: 0;
    padding: 15px 10px;
    border-radius: 4px;
    margin: 10px 0;
}
::placeholder{
    font-weight: 500;
    color: black;
}
.login-box button{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    background: transparent;
    border: 1px solid gray;
    font-weight: 500;
    cursor: pointer;
}
.login-box p{
    text-align: left;
    font-size: 14px;
    color: #555;
    margin: 40x 0 50px;
}
.login-box p a{
    text-decoration: none;
    color: blue;
}